@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 113 100% 96%; /* #e3ffed */
    --foreground: 0 0% 3.9%;    /* ~#0a0a0a (blackish for light mode) */

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 194 57% 26%;     /* #1c5567 */
    --primary-foreground: 0 0% 98%; /* white text on primary */

    --secondary: 198 40% 52%;   /* #5499b6 */
    --secondary-foreground: 0 0% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 25%;

    --accent: 150 40% 52%;      /* #54B685 */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 141 100% 5%;   /* #001A09 */
    --foreground: 220 13% 91%;   /* #e5e7eb */

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 220 31% 45%;      /* #4F6796 */
    --primary-foreground: 0 0% 100%; /* white text */

    --secondary: 150 40% 52%;    /* #54b685 */
    --secondary-foreground: 0 0% 91%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 113 65% 85%;       /* #C4F1BE */
    --accent-foreground: 0 0% 25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply min-w-0 border-border;
    transition: color cubic-bezier(0.645, 0.045, 0.355, 1) 0.15s,
      background-color cubic-bezier(0.645, 0.045, 0.355, 1) 0.15s;
  }

  html,
  body,
  :root {
    scroll-behavior: smooth;
    height: 100%; /* Flexbox height fix */
  }

  body {
    @apply bg-background text-foreground;
  }

  .tw-glass {
    @apply rounded-md border-foreground shadow-[5px_5px_10px_-5px_foreground] backdrop-blur-md;
  }

  @keyframes scroll-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes scroll-right {
    from {
      transform: translateX(-60%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .gs-keyword-scroll-list__row:nth-child(1),
    .gs-keyword-scroll-list__row:nth-child(3) {
      animation: scroll-left auto linear forwards;
      animation-timeline: scroll(root block);
    }

    .gs-keyword-scroll-list__row:nth-child(2) {
      animation: scroll-right auto linear forwards;
      animation-timeline: scroll(root block);
    }
  }

  .animate-fade-in {
    @apply animate-in fade-in;
  }
}

@utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }
}

::-webkit-scrollbar {
  display: none !important;
}
